<!-- En-tête -->
<header></header>

<!-- Navigation -->
<nav id="nav">
  <ul>
    <li><router-link to="/">Accueil</router-link></li>
    <li><router-link to="/about">À propos</router-link></li>
  </ul>
</nav>

<!-- Router -->
<router-view/>

<!-- Pied de page -->
<footer></footer>