<footer>
  <div class="footer-bloc-container">
    <div class="footer-bloc footer-bloc-1">
      <nav id="footer-nav">
        <ul>
          <li><a>Creative Eye Studio</a></li>
          <li><a>Identité visuelle</a></li>
          <li><a>Communication digitale</a></li>
          <li><a>E-Commerce</a></li>
          <li><a>Contact</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer-bloc footer-bloc-2">
      <ul>
        <li><a>Facebook</a></li>
        <li><a>Instagram</a></li>
        <li><a>LinkedIn</a></li>
      </ul>
    </div>
  </div>
  <div class="signature">
    <p>Mentions légales - Confidentialité - Cookies<br />
      Conception, développement et SEO : Creative Eye Studio</p>
  </div>
</footer>