footer{
    background-color: #102027;
    padding: 2rem;
    .footer-bloc{
        &:not(:last-child){
            margin-bottom: 2.5rem;
        }
    }
    ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
    }
    li{
        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
    a{
        color: white;
        &::after{
            content: inherit;
        }
        &:hover{
            opacity: .5;
        }
    }
    .signature{
        margin-top: 2.5rem;
        padding-right: 3rem;
    }
    @media screen and (min-width: 768px) {
        padding: 4rem 7vw;
        .footer-bloc-container{
            display: flex;
        }
        .footer-bloc{
            width: 50%;
            &:not(:last-child){
                margin-bottom: 0;
            }
        }
        .signature{
            margin-top: 2rem;
        }
    }
    @media screen and (min-width: 1199px){
        .footer-bloc-container{
            justify-content: space-between;
        }
        .footer-bloc{
            width: inherit;
        }
        ul{
            display: flex;
            flex-wrap: wrap;
        }
        li{
            &:not(:last-child){
                margin-bottom: 0;
                margin-right: 1rem;
            }
        }
    }
}