#main-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    background-color: #102027;
    padding: 2rem;
    box-sizing: border-box;
    transform-origin: left center;
    transform: scaleX(0);
    transition-duration: 1s;
    ul{
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        text-align: right;
        position: absolute;
        right: 2rem;
        bottom: 6rem;
        left: 2rem;
    }
    li{
        margin-top: 1rem;
        opacity: 0;
        transform: translateX(-5rem);
        transition-duration: 1s;
        transition-delay: 0s;
    }
    a{
        color: white;
        text-decoration: none;
        font: 300 1.2em/1.5em "Montserrat";
        display: block;
        &::after{
            content: inherit;
        }
    }
    .images-links{
        display: none;
    }
    &.active{
        transform: scaleX(1);
        li{
            opacity: 1;
            transform: translateX(0);
            transition-delay: 1s;
        }
    }
    &:not(.active){
        transition-delay: 1s;
    }

    @media screen and (min-width: 768px) {
        padding: 7vw;
        ul{
            top: 50%;
            right: 7vw;
            bottom: inherit;
            left: 7vw;
            transform: translateY(-50%);
            text-align: center;
            width: inherit;
        }
        li{
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        a{
            color: white;
            text-decoration: none;
            font: 100 1.75em/1.5em "Montserrat";
            display: block;
        }
    }

    @media screen and (min-width: 1199px) {
        ul{
            right: calc(50% + 7vw);
            text-align: right;
            margin-left: 4vw;
            &:hover{
                a{
                    opacity: .25;
                }
            }
        }
        a{
            transition-duration: .5s;
            &:hover{
                opacity: 1 !important;
            }
        }
        .images-links{
            display: block;
            position: absolute;
            top: 7vw;
            right: 7vw;
            bottom: 7vw;
            left: 50%;
            img{
                width: 0%;
                height: 100%;
                object-fit: cover;
                transition-duration: 1s;
                transition-delay: 0s;
            }
        }
        &.active{
            .images-links{
                //transform: scaleX(1);
                img{
                    width: 100%;
                    transition-delay: 1s;
                }
            }
        }
    }
}